*,*:before,*:after{outline:none;-webkit-tap-highlight-color:transparent;user-select:none;-webkit-user-select:none;border:none}img{-webkit-touch-callout:none;pointer-events:none}input,textarea{user-select:text;-webkit-user-select:text}
