*, *::before, *::after {
    /* 1. Прибираємо синю рамку фокусу (Outline) */
    outline: none;
    
    /* 2. Прибираємо синю підсвітку при натисканні на смартфонах */
    -webkit-tap-highlight-color: transparent;
    
    /* 3. Забороняємо виділення тексту (щоб гравець випадково не виділяв 
       текст або картинки під час інтенсивних кліків у грі) */
    user-select: none;
    -webkit-user-select: none;
    
    /* 4. Прибираємо стандартні рамки для картинок та кнопок */
    border: none;
}

/* Специфічне скидання для картинок (img) */
img {
    /* Забороняє появу системного меню при довгому натисканні на картинку */
    -webkit-touch-callout: none;
    /* Забороняє перетягування картинок мишкою */
    pointer-events: none; 
}

/* Якщо ви все ж хочете, щоб в інпутах можна було виділяти текст для редагування */
input, textarea {
    user-select: text;
    -webkit-user-select: text;
}