*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
li{
  list-style: none;
}
.game-window{
  position: relative;

  background-color: #042449;
  width: 100vw;
  height: 100vh;

  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.header{

  position: fixed;
  top: 0;
  height: 60px;
  background-color: #042449;

  width: 100%;
  height: 40px;
  
  display: flex;
  align-items: center;
  padding: 0 10px;

  justify-content: space-evenly;
}
.profile{
  font-size: 20px;
  background-color: #063060;
  padding: 4px 5px;
  border-radius: 20px;
}
.menu{
  background-color: #031D3A;
  padding-top: 80px;
  padding-bottom: 80px;
}
.list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  /* padding: 20px; */

  padding: 0;
  margin: 0;
}
.item{
  width: 200px;
  height: 200px;
  background-color: #042449;
  border-radius: 15px;
  border:2px solid #0d4688;

  list-style: none;
}
ul li a {
  display: block;    
  padding: 10px;      
  text-decoration: none; 
}
/* ul li a:hover {
  background-color: #031D3A; 
  border:2px solid #042449;
  border-radius: 15px;
} */
.spin{
  width: 100%;
  height: 100%;
  font-size: 96px;
}
.slots-text{
  font-size: 24px;
  margin-top: 10px;
  color: #ffffff;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #042449;

  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-list{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;

}

