.menu{
  background-color: #031D3A;
  padding-top: 80px;
  padding-bottom: 80px;
}
.list-mines{
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

	margin: 0 auto;

	max-width: 350px;
	width: 100%;
	padding: 10px;

}
.items-mines{
	display: flex;
	justify-content: center;
	align-items: center;

  width: 50px;
  height: 50px;
  background-color: #042449;
  border-radius: 10px;
  border:2px solid #0d4688;

  list-style: none;

	margin: 10px;
}


.slot-inner {
  animation: spin-animation 0.2s linear infinite;
}
.balance{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.coin{
	margin-left: 10px;
}
.back{
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;

	padding: 5px 10px;
	border-radius: 10px;
	border:2px solid #0d4688;
}
#start-game{
  font-family: 'Alfa Slab One', cursive;

	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;

	background-color: #042449;
	padding: 5px 10px;
	border-radius: 10px;
	border:2px solid #0d4688;
}
/* Контейнер для тексту та інпуту */
.dep-text {
  color: #ffffff;
  font-family: 'Alfa Slab One', cursive;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
	margin-top: 20px;
}

/* Стилізація самого інпуту */
.dep-amount {
  background-color: #042449; /* Колір як у клітинок */
  color: #ffffff;
  border: 2px solid #0d4688; /* Твоя фірмова рамка */
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  width: 150px;
  outline: none;
  transition: all 0.3s ease;
}

/* Ефект при фокусі (натисканні на інпут) */
.dep-amount:focus {
  border-color: #1a73e8;
  box-shadow: 0 0 10px rgba(26, 115, 232, 0.5);
  background-color: #052d5c;
}

/* Прибираємо стандартні стрілочки Chrome/Safari/Edge */
.dep-amount::-webkit-outer-spin-button,
.dep-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Прибираємо стрілочки для Firefox */
.dep-amount[type=number] {
  -moz-appearance: textfield;
}