.menu{
  background-color: #031D3A;
  padding-top: 80px;
  padding-bottom: 80px;
}
.list-slots{
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);

	margin: 0 auto;

	max-width: 350px;
	width: 100%;
	padding: 10px;

}
.items-slots{
	display: flex;
	justify-content: center;
	align-items: center;

  width: 50px;
  height: 50px;
  background-color: #042449;
  border-radius: 10px;
  border:2px solid #0d4688;

  list-style: none;

	margin: 5px;
}
.span-btn{
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #0d4688;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Alfa Slab One', cursive;
	transition: background-color 0.3s;
}

@keyframes spin-animation {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); } 
}

.slot-inner {
  animation: spin-animation 0.2s linear infinite;
}
.balance{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.coin{
	margin-left: 10px;
}
.back{
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;

	padding: 5px 10px;
	border-radius: 10px;
	border:2px solid #0d4688;
}